/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~angular-notifier/styles.css";
@import "~codemirror/lib/codemirror.css";

.page-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-text {
  margin-right: 15px;
  margin-left: 15px;
}

.btn-big {
  margin-top: 15px;
  margin-bottom: 15px;
}

table {
  margin-bottom: 0 !important;
}

td {
  padding-left: 20px;
}

textarea {
  margin: -1px !important;
  width: inherit !important;
}

.btn-xs {
  padding: .1rem .4rem !important;
  font-size: .8rem !important;
  line-height: 1.5 !important;
}